Import Necessary Modules

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import re

In [ ]:
# Loading all data
df_aapl= pd.read_csv("../data/AMZN.csv")
df_amzn= pd.read_csv("../data/AMZN.csv")
df_meta= pd.read_csv("../data/META.csv")
df_goog= pd.read_csv("../data/GOOG.csv")
df_msft= pd.read_csv("../data/MSFT.csv")
df_nvda= pd.read_csv("../data/NVDA.csv")
df_msft.head()

         Date      Close       High        Low       Open    Volume
0  2009-01-02  14.872976  14.924187  14.170662  14.287715  50084000
1  2009-01-05  15.011971  15.121707  14.675444  14.777866  61475200
2  2009-01-06  15.187551  15.363130  15.077815  15.180236  58083400
3  2009-01-07  14.273087  14.843718  14.251139  14.770560  72709900
4  2009-01-08  14.719351  14.770561  14.302350  14.360876  70255400

Import TA-Lib after installation

In [16]:
import talib

Calculate SMA, EMA, RSI, MACD, MACD_signal, MACD_hist

In [25]:
# Simple Moving Average (SMA) for 20 days
df_aapl['SMA_20'] = talib.SMA(df_aapl['Close'], timeperiod=20)
# Exponential Moving Average (EMA) for 20 days
df_aapl['EMA_20'] = talib.EMA(df_aapl['Close'], timeperiod=20)
# RSI for 14 days
df_aapl['RSI_14'] = talib.RSI(df_aapl['Close'], timeperiod=14)
# MACD (12, 26, 9)
df_aapl['MACD'], df_aapl['MACD_signal'], df_aapl['MACD_hist'] = talib.MACD(df_aapl['Close'],
                                                          fastperiod=12,
                                                          slowperiod=26,
                                                          signalperiod=9)
df_aapl.tail()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,MACD_signal,MACD_hist
3769,2023-12-22,153.419998,154.350006,152.710007,153.770004,29514100,148.578999,148.860492,64.115558,3.135958,2.873052,0.262905
3770,2023-12-26,153.410004,153.979996,153.029999,153.559998,25067200,148.863000,149.293779,64.085644,3.118650,2.922172,0.196478
3771,2023-12-27,153.339996,154.779999,153.119995,153.559998,31434700,149.178500,149.679133,63.860893,3.063965,2.950530,0.113434
3772,2023-12-28,153.380005,154.080002,152.949997,153.720001,27057000,149.531499,150.031597,63.938728,2.989395,2.958303,0.031092
3773,2023-12-29,151.940002,153.889999,151.029999,153.100006,39823200,149.824000,150.213350,59.012257,2.782032,2.923049,-0.141017

In [26]:
# Simple Moving Average (SMA) for 20 days
df_amzn['SMA_20'] = talib.SMA(df_amzn['Close'], timeperiod=20)
# Exponential Moving Average (EMA) for 20 days
df_amzn['EMA_20'] = talib.EMA(df_amzn['Close'], timeperiod=20)
# RSI for 14 days
df_amzn['RSI_14'] = talib.RSI(df_amzn['Close'], timeperiod=14)
# MACD (12, 26, 9)
df_amzn['MACD'], df_amzn['MACD_signal'], df_amzn['MACD_hist'] = talib.MACD(df_amzn['Close'],
                                                          fastperiod=12,
                                                          slowperiod=26,
                                                          signalperiod=9)

df_amzn.tail()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,MACD_signal,MACD_hist
3769,2023-12-22,153.419998,154.350006,152.710007,153.770004,29514100,148.578999,148.860492,64.115558,3.135958,2.873052,0.262905
3770,2023-12-26,153.410004,153.979996,153.029999,153.559998,25067200,148.863000,149.293779,64.085644,3.118650,2.922172,0.196478
3771,2023-12-27,153.339996,154.779999,153.119995,153.559998,31434700,149.178500,149.679133,63.860893,3.063965,2.950530,0.113434
3772,2023-12-28,153.380005,154.080002,152.949997,153.720001,27057000,149.531499,150.031597,63.938728,2.989395,2.958303,0.031092
3773,2023-12-29,151.940002,153.889999,151.029999,153.100006,39823200,149.824000,150.213350,59.012257,2.782032,2.923049,-0.141017

In [27]:
# Simple Moving Average (SMA) for 20 days
df_goog['SMA_20'] = talib.SMA(df_goog['Close'], timeperiod=20)
# Exponential Moving Average (EMA) for 20 days
df_goog['EMA_20'] = talib.EMA(df_goog['Close'], timeperiod=20)
# RSI for 14 days
df_goog['RSI_14'] = talib.RSI(df_goog['Close'], timeperiod=14)
# MACD (12, 26, 9)
df_goog['MACD'], df_goog['MACD_signal'], df_goog['MACD_hist'] = talib.MACD(df_goog['Close'],
                                                          fastperiod=12,
                                                          slowperiod=26,
                                                          signalperiod=9)
df_goog.tail()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,MACD_signal,MACD_hist
3769,2023-12-22,141.750000,142.276397,141.089511,141.164014,18513500,135.009596,135.854576,64.953309,1.412015,0.572046,0.839969
3770,2023-12-26,141.849304,142.966658,141.531472,142.008205,11170100,135.246477,136.425503,65.115870,1.706565,0.798950,0.907615
3771,2023-12-27,140.478683,142.345911,140.092320,141.859236,17288400,135.386520,136.811520,60.916026,1.808553,1.000870,0.807682
3772,2023-12-28,140.319748,141.303025,139.870824,140.885881,12192500,135.628861,137.145637,60.429303,1.855168,1.171730,0.683438
3773,2023-12-29,139.972137,140.473710,138.949139,139.723837,14881000,135.976979,137.414827,59.313063,1.842820,1.305948,0.536872

In [28]:
# Simple Moving Average (SMA) for 20 days
df_meta['SMA_20'] = talib.SMA(df_meta['Close'], timeperiod=20)
# Exponential Moving Average (EMA) for 20 days
df_meta['EMA_20'] = talib.EMA(df_meta['Close'], timeperiod=20)
# RSI for 14 days
df_meta['RSI_14'] = talib.RSI(df_meta['Close'], timeperiod=14)
# MACD (12, 26, 9)
df_meta['MACD'], df_meta['MACD_signal'], df_meta['MACD_hist'] = talib.MACD(df_meta['Close'],
                                                          fastperiod=12,
                                                          slowperiod=26,
                                                          signalperiod=9)
df_meta.tail()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,MACD_signal,MACD_hist
2918,2023-12-22,351.224823,355.011477,349.068105,353.401377,11772800,332.302945,335.581703,67.333885,6.945367,4.729907,2.215461
2919,2023-12-26,352.655975,354.792827,351.284456,352.814999,9898600,333.303278,337.207824,68.187000,7.436800,5.271285,2.165514
2920,2023-12-27,355.637543,356.800387,353.132994,353.888347,13207900,334.239505,338.963036,69.947874,7.974921,5.812012,2.162908
2921,2023-12-28,356.124634,359.682686,355.617749,357.496184,11798800,335.537503,340.597473,70.237702,8.344500,6.318510,2.025990
2922,2023-12-29,351.791290,357.794292,349.664418,356.790470,14987100,336.869788,341.663551,64.296803,8.193282,6.693464,1.499818

In [29]:
# Simple Moving Average (SMA) for 20 days
df_msft['SMA_20'] = talib.SMA(df_msft['Close'], timeperiod=20)
# Exponential Moving Average (EMA) for 20 days
df_msft['EMA_20'] = talib.EMA(df_msft['Close'], timeperiod=20)
# RSI for 14 days
df_msft['RSI_14'] = talib.RSI(df_msft['Close'], timeperiod=14)
# MACD (12, 26, 9)
df_msft['MACD'], df_msft['MACD_signal'], df_msft['MACD_hist'] = talib.MACD(df_msft['Close'],
                                                          fastperiod=12,
                                                          slowperiod=26,
                                                          signalperiod=9)
df_msft.tail()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,MACD_signal,MACD_hist
3769,2023-12-22,369.767883,370.360181,367.921911,368.879451,17107500,368.730389,366.580145,56.363342,2.805416,3.840081,-1.034664
3770,2023-12-26,369.846832,372.097540,368.701731,370.182461,12673100,368.535426,366.891259,56.447998,2.767033,3.625471,-0.858438
3771,2023-12-27,369.264465,370.241738,368.020642,368.889342,14905400,368.109468,367.117278,55.591261,2.658971,3.432171,-0.773200
3772,2023-12-28,370.458862,371.623696,369.353256,370.547702,14327000,367.933260,367.435524,57.031664,2.639285,3.273594,-0.634309
3773,2023-12-29,371.209198,372.314805,368.682088,371.169703,18730800,367.791606,367.794922,57.954296,2.653640,3.149603,-0.495963

In [30]:
# Simple Moving Average (SMA) for 20 days
df_nvda['SMA_20'] = talib.SMA(df_nvda['Close'], timeperiod=20)
# Exponential Moving Average (EMA) for 20 days
df_nvda['EMA_20'] = talib.EMA(df_nvda['Close'], timeperiod=20)
# RSI for 14 days
df_nvda['RSI_14'] = talib.RSI(df_nvda['Close'], timeperiod=14)
# MACD (12, 26, 9)
df_nvda['MACD'], df_nvda['MACD_signal'], df_nvda['MACD_hist'] = talib.MACD(df_nvda['Close'],
                                                          fastperiod=12,
                                                          slowperiod=26,
                                                          signalperiod=9)
df_nvda.tail()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,MACD_signal,MACD_hist
3769,2023-12-22,48.805527,49.358247,48.442706,49.170342,252507000,47.706983,48.024644,55.352119,0.634352,0.564438,0.069914
3770,2023-12-26,49.254299,49.575137,48.935459,48.943454,244200000,47.759019,48.141754,57.245971,0.655689,0.582688,0.073001
3771,2023-12-27,49.392231,49.655100,49.060397,49.486186,233648000,47.838989,48.260847,57.837928,0.675937,0.601338,0.074599
3772,2023-12-28,49.497185,49.859003,49.387239,49.618126,246587000,47.908266,48.378593,58.310919,0.692470,0.619564,0.072906
3773,2023-12-29,49.497185,49.971949,48.726571,49.788039,389293000,48.046003,48.485126,58.310919,0.697532,0.635158,0.062374